body {
  user-select: none;
}

.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.btnContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

.button {
  display: flex;
  width: 65px;
  height: 54px;
  background-color: crimson;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}


.ballContainer {
  position: absolute;
  width: 602px;
  height: 612px;
}

.ball {
  position: absolute;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 50%;
  filter: brightness(30%);
}

.ball1 {
  top: 36%;
  left: 42%;
  background-color: blueviolet;
}

.ball2 {
  top: 45%;
  left: 55%;
  background-color: rgb(80, 226, 43);
}

.ball3 {
  top: 51%;
  left: 38%;
  background-color: rgb(226, 116, 43);
}

.ball4 {
  top: 59%;
  left: 61%;
  background-color: rgb(226, 223, 43);
}

.ball5 {
  top: 65%;
  left: 36%;
  background-color: rgb(226, 43, 165);
}

.lightBall {
  filter: brightness(100%);
}